<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="defaultIoCContainer" value="RealAppContext" />
    <add key="traceFileName" value="ApplicationTrace.xml" />
    <add key="traceInfo" value="true" />
    <add key="traceWarning" value="true" />
    <add key="traceError" value="true" />
    <add key="traceCritical" value="true" />
    <add key="currentLanguage" value="en" />
    <add key="CurrentStyle" value="Money Twins" />
    <add key="ConnectionString" value="amqp://PRIME:PRIME@anonymous-02:5672/" />
    <add key="IBMConnectionString" value="QueueManagerName=xyz;ChannelName=omp;HostName=localhost;PortNumber=1414" />
    <add key="RabbitMQ.ExchangeKeyName" value="ReadingsCallerExchangeGS" />
    <add key="RabbitMQ.DirectQueueName" value="ReadingsCallerExchangeGS" />
    <add key="QueueName" value="" />
    <add key="log4net.Config" value="Log4Net.xml" />
    <add key="log4net.Config.Watch" value="True" />
    <add key="ServiceUrl" value="net.tcp://localhost/UnpackerPublisher/PublishService.svc" />
    <add key="ServiceBinding" value="NetTcpBinding_IPublisherService" />
    <add key="cacheConnectionString" value="ATLAS-01:6379,password=PRIME" />
    <add key="cacheDatabase" value="5" />
    <add key="FeatureToggle.PrimeCacheTierFeature" value="true" />

    <add key="Queue.ConnectionString" value="amqp://PRIME:PRIME@anonymous-02:5672/"/>
    <add key="Queue.ExchangeKeyName" value="ReadingsCallerExchangeGS" />
    <add key="Queue.ExchangeKeyType" value="fanout" />
  </appSettings>
</configuration>
